.content h2 {
  padding: 0 30px;
}
.content p {
  text-align: justify;
  padding: 20px 50px 50px 50px;
  line-height: 2;
}
table {
  width: 75%;
  margin: 30px auto;
}
table,
th,
tr,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
}
